body {
	background-color: #99b3ff;
}
header {
	background-color: black;
	margin-top: 50px;
}
h1 {
	font-size: 500%;
	color: white;
	display: none;
}
#biopic {
	display: none;
}
footer {
	clear: both;
	background-color: #99b3ff !important;
}

@media (max-width: 991px) {
	#biopic img {
		display: none;
	}
}
